<div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  <h1>User info</h1>

  <% filtered_errors = @user.errors.full_messages.reject { |msg| msg == "Name can't be blank" } %>
<% if filtered_errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(filtered_errors.count, "error") %> prohibited this obj from being saved:</h2>
    <ul>
      <% filtered_errors.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_with model: @user, url: user_path(@user), local: true do |f| %>
    <div class="form-group">
      <label for="inputName">Name</label>
      <%= f.text_field :name, class: "form-control name" %>
    </div>

    <div class="form-group">
      <label for="inputImage">Image</label>
      <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
    </div>

    <div class="form-group">
      <label for="user_introduction">Introduction</label>
      <%= f.text_area :introduction, class: "form-control introduction" %>
    </div>

    <div class="form-group">
      <%= f.submit "Update User", class: "btn btn-secondary" %>
    </div>
  <% end %>

  <div class="mt-3">
    <%= link_to "Show", user_path(@user), class: "text-decoration-none me-3" %> |
    <%= link_to "Back", users_path, class: "text-decoration-none" %>
  </div>
</div>