<div class="container">
  <div class="row">

    <%= render 'users/list', book: Book.new %>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
          </tr>
        </thead>
        
        <tbody>
          <% @users.each do |user| %>
            <tr class="align-middle">
              <td>
                <% if user.profile_image.attached? %>
                  <%= image_tag user.get_profile_image(80,80) %>
                <% else %>
                  <%= image_tag 'no_image', size: "80x80" %>
                <% end %>
              </td>
              <td>
                <p><strong><%= user.name %></strong></p>
              </td>
              <td>
                <%= link_to "Show", user_path(user), class: "text-decoration-none" %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>