<div class="container">
  <div class="row">

    <%= render 'shared/sidebar', book: @book || Book.new, display_user: @display_user %>

    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table class="table table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
          </tr>
        </thead>
        
        <tbody>
          <% @users.each do |user| %>
            <tr class="align-middle">
              <td>
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image(80,80), class: "user-list-img" %>
                <% end %>
              </td>
              <td>
                <%= link_to user_path(user), class: "text-decoration-none" do %>
                  <p><strong><%= user.name %></strong></p>
                <% end %>
              </td>
              <td>
                <%= link_to "Show", user_path(user), class: "text-decoration-none" %>
              </td>
            </tr>
           <% end %> 
          </tbody>
        
      </table>
    </div>
  </div>
</div>